{% extends 'employee/layout.html' %}
{% load crispy_forms_tags %}

{% block Title %}Alphabetical last names{% endblock %}

{% block BodyContent %}
    <ul class="nav nav-pills p-3">
        {% for group in groups %}
            {% if group|length > 1%}
                <li class="nav-item"><a class="nav-link" href="{% url 'alphabet_list' group.0 %}">{{ group.0 }}-{{ group|last }}</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'alphabet_list' group.0 %}">{{ group.0 }}</a></li>
            {% endif %}
        {% empty %}
        {% endfor %}
    </ul>

    {% block EmployeesList %}
    {% endblock EmployeesList %}
{% endblock %}