{% extends 'employee/layout.html' %}
{% load crispy_forms_tags %}

{% block Title %}{{ object.get_full_name }}{% endblock %}

{% block BodyContent %}
<ul class="list-group list-group-flush">
    <li class="list-group-item">ФИО: {{ object.get_full_name }}</li>
    <li class="list-group-item">Дата рождения: {{ object.birth_date }}</li>
    <li class="list-group-item">Email: {{ object.email }}</li>
    <li class="list-group-item">Телефон: {{ object.phone_number }}</li>
    <li class="list-group-item">Дата начала работы: {{ object.job_start_date }}</li>
    <li class="list-group-item">Дата окончания работы: 
        {% if object.job_end_date %}
            {{ object.job_end_date }}
        {% else %}
            всё ещё работает.
        {% endif %}</li>
    <li class="list-group-item">Должность: {{ object.job_title }}</li>
    <li class="list-group-item">Отдел: {{ object.department.name }}</li>
</ul>
{% endblock %}